/Java/ContactWebService/nbproject/private/
/Java/WebServicesTest/nbproject/private/
/Java/ContactWebService/build/
/Java/ContactWebService/dist/
/Java/WebServicesTest/build/
/Java/WebServicesTest/dist/